<section id="fuelling">
  <legend>Add Fuelling</legend>
  <form class="form-horizontal" name='fuellingForm' ng-submit="submitFuelling(fuelling, fuellingForm)">
    <div class="form-group">
      <label for="date" class="col-lg-2 control-label">Date</label>
      <div class="col-lg-6">
        <input ui-date required ng-model="fuelling.date">
      </div>
    </div>
    
    <div class="form-group">
      <label for="country" class="col-lg-2 control-label">Country</label>
      <div class="col-lg-6">
        <select class="form-control" ng-model="fuelling.country" ng-options="country.name for country in countries" ng-change="updateValues(fuelling.country)"></select>
      </div>
    </div>

    <div class="form-group">
      <label for="state" class="col-lg-2 control-label">State</label>
      <div class="col-lg-6">
        <select class="form-control" id='state' ng-model='fuelling.state' ng-options="fullStateName(state) for state in states"></select>
      </div>
    </div>

    <div class="form-group">
      <label for="volume" class="col-lg-2 control-label">Volume</label>
      <div class="col-lg-4">
        <input type="text" class="form-control" id="volume" placeholder="Volume" autofocus='autofocus' required ng-model='fuelling.volume'>
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="volumeType" ng-model='fuelling.volumeType.name' ng-disabled="true">
      </div>
    </div>

    <div class="form-group">
      <div class="col-offset-2 col-lg-6">
        <button type="submit" class="btn btn-primary" ng-disabled="fuellingForm.$invalid">Submit</button>
      </div>
    </div>

  </form>
  
  <legend>Fuelling History</legend>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Date</th>
        <th>Country</th>
        <th>State</th>
        <th>Volume</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fuelling in fuellings | orderBy:'date':true">
        <td>{{fuelling.date | date:'mediumDate'}}</td>
        <td>{{fuelling.country.name}}</td>
        <td>{{fuelling.state.abbreviation}}</td>
        <td>{{fuelling.volume}}</td>
        <td>{{fuelling.volumeType.name}}</td>
      </tr>
    </tbody>
  </table>
</section>